<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
	<appSettings>
	<add key="ServicioWeb.ServicioTURU" value="http://192.168.0.106:8091/ServicioTURU.asmx"/>
	</appSettings></configuration>
